* {
	margin: 0;
	padding: 0;
}
html {
	height: 600px;
}
body {
	width: 660px;
	height: 600px;
	background-color: white;
	color: #000;
	font-family: 'Rubik', sans-serif;
}

#wrapper {
	width:100%;
	height:100%;
}

#header {
	height: 40px;
	background: linear-gradient(to right, #a13efa , #64bbff);
}

#header > .logo {
	width: 118px;
	height: 20px;
	margin-left: 18px;
	background-image: url("images/logo_h20.png");
}

#beta_text {
	width: 118px;
	height: 32px;
	/*margin-left: 18px;*/
	background-image: url("images/beta_text.png");
}

#content {
	/*background: linear-gradient(#ffffff , #fafafd);*/
	/*padding: 25px;*/
	/*height:466px;*/
}


#bottom {
	height: 40px;
	text-align: center;
	vertical-align: middle;
	/*position:absolute;*/
	bottom: 0;
	/*width: 100%;*/

	background-color: white;
    border-top: 1px solid #e8e8e9;
}

#bottom > a {
}

#dataTop {
	/*height: 300px;*/
	height: 284px;
	display: flex;
	justify-content: space-between;
}

#dataTop > .leftSide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#dataBottom {
	height: 164px;
	display: flex;
	justify-content: space-between;
}


#domain {
	/*height: 60px;*/
	display: flex;
	flex-direction: row;
}

.fixName{
	min-height: 40px;
	display:table;
}
.fixName > span {
	display:table-cell;
 	vertical-align:middle;
}

#rank {
	height: 38px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#worth {
	display: flex;
	align-content: space-around;
	flex-direction: row;
	width: 100%;
	height: 95px;
}
#saleDates {
	height: 70px;
}
.social {
	height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social > .soc_icon {
	width: 28px;
	height: 28px;
	cursor: pointer;
	order: 5;
}

/*#social > .soc_icon > a:hover {
	filter: saturate(800%) hue-rotate(40deg) contrast(200%) brightness(50%);
	filter: saturate(1000%) hue-rotate(-330deg);
}*/

.social > .soc_icon:hover .icon_circle { 
	fill: #7e7bfd;
}

.social > .soc_icon:hover .icon_circle_stroke { 
	stroke: #7e7bfd;
}

.rateVal {
	/*text-align: center;*/
}

.domain_logo {
	width: 40px;
	height: 40px;

	background-color: white;
	background-size: cover;
	background-position: center;
    border: 1px solid #ebebeb;
    border-radius: 7px;

    flex-shrink: 0;
}

#domain_info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 13px;
}

#price_action > .graph {
	height: 166px;
}

#prize_action_graph {
	height: 129px;
	/*background-color: #ebf5fe;*/
}

#web_traffic_graph {
	overflow:hidden;
	/*height: 115px;*/
	height: 127px;
	width:600px;
	/*background-color: #ebf5fe;*/
}

.graph_iframe {
	width: 607px;
	height: 220px;
    margin-top: -63px;
    margin-left: -9px;
}

#graph_controls {
	width: 100%;
	margin-top: 13px;

	height: 24px;
	border-radius: 3px;
    border: 1px solid #c7c7c7;

	background: linear-gradient(#f5f5f5 , #fefefe);

	display: flex;
	align-content: space-around;
	flex-direction: row;
}

#web_analytics_list {
	height: 115px;
}
#price_action_list {
	height: 70px;
}

#errorMsg {
	/*width:100%;*/
	/*height:100%;*/
	vertical-align: middle;
	text-align: center;
	display: none;
	padding: 25px;
	line-height: 20px;
	width:65%;

	position: relative;
  	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
}

#error1 > div{
	margin-bottom: 17px;
}
#error2 > div{
	margin-bottom: 17px;
}

#dataScreen {
}

#contWrap{
	width:600px;
	height:100%;
	position:absolute;
	padding: 25px;
}

#loader {
	width: 100%;
    height: 519px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: white;
    background-image: url(images/loader.gif);
    background-position: center center;
    background-size: 54%;
    background-repeat: no-repeat;
    opacity: 1;
    top: 0;
    filter: hue-rotate(-230deg);
}

#loader > p {
	height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #aaa;
    font-size: 10pt;
    font-weight: 400;
    user-select: none;
}

#extDescription {
	margin-top: 2px;
	margin-right: 35px;
	line-height: 40px;

	color: white;
    /*color: #d5d5fd;*/
}

.info_line {
	align-items: center;
}
.algElVertC {
	align-items: center;
}
.soc_icon > a {
	display:block;
	width:100%;
	height:100%;
}

.social_toolbox {
	color: #7e7bfd;
    background-color: #e2e1fd;
    border-radius: 2px;
    padding: 2px;
    margin-top: 3px;
    text-align: center;
    font-size: 7pt;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.inactiveSocialIcon {
	filter: grayscale(0.7) brightness(126%) !important;
	color: #85888c !important;
	pointer-events: none;
}

.inactiveDetailsBtn {
	color: #85888c !important;
	filter: brightness(130%);
	pointer-events: none;
}

.infoCont {
	margin-bottom: 5px;
}

.bar {
	background-color: #d4d5fc;
	height: 5px;
	border-radius: 3px;
}

.activeBar {
	/*background-color: #9e46f6;*/
	width: 50%;
	height: 100%;
	border-radius: 3px;
}

.aBarC1 { background-color: #9e46f6; }
.aBarC2 { background-color: #9455f7; }
.aBarC3 { background-color: #8769f8; }
.aBarC4 { background-color: #7b7afa; }
.aBarC5 { background-color: #6f8efb; }
.aBarC6 { background-color: #639efc; }
.aBarC7 { background-color: #56b2fc; }

.time_tab {
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	user-select: none;
}

.time_tab:hover {
	/*background: linear-gradient(#1d1d1d , #5d5d5d);*/
	background: linear-gradient(#e7e8e8 , #f3f4f4);
}

.active_time_tab {
	color: white;
	background: linear-gradient(#1d1d1d , #5d5d5d) !important;
	cursor: auto;
}

.sep {
	height: 100%;
	width: 1px;
	background-color: #c3c3c3;
}

.main_title {
	text-transform: uppercase;
}

.icon {
	width: 27px;
}

.flex {
	display:flex;
}
.flexRows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flexCols {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box {
	background-color: #fafbfc;
    border: 1px solid #e4e8f0;
    border-radius: 7px;
}

.textAlignC{
	text-align: center;
}
.cGreen {
	color: #4cc500;
}
.cGray {
	color: #85888c;
}
.cBlue {
	color: #639efc;
}
.cRed {
	color: #fd2437;
}

.flexBasisAuto {
	flex-basis: auto;
}
.flex1{
	flex:1;
}
.leftSide {
	width: 286px;
}

.rightSide {
	width: 286px;
}

.margin15 { margin: 15px; }
.ml15 { margin-left: 15px; }
.mr15 { margin-right: 15px; }
.mr9 { margin-right: 9px; }
.mr10 { margin-right: 10px; }

.separator {
	width: 100%;
	height: 1px;
/*	background-color: #e8e8e9;
	margin-top: 29px;
	margin-bottom: 29px;*/
	margin-top: 10px;
	margin-bottom: 10px;
}

.vert_separator {
	height: 100%;
	width: 1px;
	background-color: #e4e8f0;
}

.row {
	display : block;
}

.col {
	
}

.horCenter {
	position: relative;
  	left: 50%;
	transform: translate(-50%, 0);
}

.verCenter {
	position: relative;
  	top: 50%;
	transform: translate(0, -50%);
}

/*.fw300 { font-weight: 300; }*/
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fw700 { font-weight: 700; }

.fs8 { font-size: 8pt; }
.fs9 { font-size: 9pt; }
.fs10 { font-size: 10pt; }
.fs11 { font-size: 11pt; }
.fs12 { font-size: 12pt; }
.fs13 { font-size: 13pt; }
.fs14 { font-size: 14pt; }
.fs15 { font-size: 15pt; }

.mb3 { margin-bottom: 3px; }
.mb4 { margin-bottom: 4px; }
.mb5 { margin-bottom: 5px; }
.mb7 { margin-bottom: 7px; }
.mb8 { margin-bottom: 8px; margin-top: 8px; }
.mb10 { margin-bottom: 10px; margin-top: 10px; }
.mb13 { margin-bottom: 13px; margin-top: 13px; }

.lh15 { line-height: 15px; }
.lh20 { line-height: 20px; }
.lh24 { line-height: 24px; }
.lh30 { line-height: 30px; }
.lh40 { line-height: 40px; }

.w34 { width: 34px; }

.list_text {
	font-size: 10pt;
	font-weight: 400;
}

.details_text {
	font-size: 10pt;
	font-weight: 400;
	color: #639efc;
	cursor:pointer;
	user-select: none;
}

.list_value {
	font-size: 12pt;
	font-weight: 500;
}

.hidden {
	visibility: hidden;
}
.nodisplay {
	display: none;
}
.noEvents {
	pointer-events: none;
}

.fullSize {
	width: 100%;
	height: 100%;
}

a {
	all: unset;
}

.linkLook {
    /*color: #85888c;*/
    color: #7b7afa;
    /*text-decoration: underline;*/
}

/* unvisited link */
#bottom > div > a:link {
    color: #85888c;
    text-decoration: underline;
}
/* visited link */
#bottom > div > a:visited {
    color: #85888c;
}
/* mouse over link */
#bottom > div > a:hover {
    color: #7b7afa;
}
/* selected link */
#bottom > div > a:active {
    color: #7b7afa;
}